
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

.mainContent{
    color:rgb(209, 145, 8);
    font-size: 24px;
}
.Poxyi{
    color:blueviolet;
}
#loremText{color:aquamarine}
.main_link {
    cursor: pointer;
}
body {
    background-image: url(https://steamuserimages-a.akamaihd.net/ugc/2154468342525418763/6756D70B5826F68E688FDF5CFD2CFBCE67A86B30/?imw=512&amp;imh=291&amp;ima=fit&amp;impolicy=Letterbox&amp;imcolor=%23000000&amp;letterbox=true);
    background-color: beige;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
}
body {
    color:white;
    text-align: center;
    font-size:20px;
    font-weight: normal;
    font-family: "Anton SC", sans-serif;
    font-weight: 400;

    text-transform: lowercase;
    word-spacing: 5px;
    letter-spacing: 1px;
}